{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'courses/style.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/index.css' %}">
        <script src="{% static "accounts/index.js" %}" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        {% block head %}
        <title>Pioneer </title>
        {% endblock %}
    </head>
    {% comment %} 
    <body style="background-image:url('{% static 'courses/images/16.jpg' %}');background-size:cover;background-repeat:no-repeat; background-attachment:fixed;">
        {% endcomment %}
        <body style="background-color:white">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">Pioneer</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li><a class="nav-link" href="/">Home <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/blog">Blog <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/courses/about-us/">About Us <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/courses">Courses <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/#contact_us">Contact Us <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="https://dictionary.cambridge.org/dictionary/">Dictionary <span class="fa fa-home"></span></a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li><a class="nav-link" href='/accounts/profile'>Profile <span class="fa fa-user"></span></a></li>
                        <li><a class="nav-link" href='/logout'>Logout <span class="fa fa-sign-out-alt"></span></a></li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav mr-auto">
                        <li><a class="nav-link" href="/">Home <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/blog">Blog <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/courses/about-us/">About Us <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/#contact_us">Contact Us <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/courses">Courses <span class="fa fa-home"></span></a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li><a class="nav-link" href='/accounts/login'>Login <span class="fa fa-sign-in-alt"></span></a></li>
                        <li><a class="nav-link" href="/accounts/register">Register <span class="fa fa-user-plus"></span></a></li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
            {% comment %} 
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Pioneer</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        <li><a class="nav-link" href="/">Home <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/blog">Blog <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/courses/about-us/">About Us <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/courses">Courses <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/#contact_us">Contact Us <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="https://dictionary.cambridge.org/dictionary/">Dictionary <span class="fa fa-home"></span></a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li><a class="nav-link" href='/accounts/profile'>Profile <span class="fa fa-user"></span></a></li>
                        <li><a class="nav-link" href='/logout'>Logout <span class="fa fa-sign-out-alt"></span></a></li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav mr-auto">
                        <li><a class="nav-link" href="/">Home <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/blog">Blog <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/courses/about-us/">About Us <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/#contact_us">Contact Us <span class="fa fa-home"></span></a></li>
                        <li><a class="nav-link" href="/courses">Courses <span class="fa fa-home"></span></a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li><a class="nav-link" href='/accounts/login'>Login <span class="fa fa-sign-in-alt"></span></a></li>
                        <li><a class="nav-link" href="/accounts/register">Register <span class="fa fa-user-plus"></span></a></li>
                    </ul>
                    {% endif %}<br>
                </div>
            </nav>
            {% endcomment %}
            {% block body %}
            This is base for you
            {% endblock %}
            <footer class="container-fluid bg-4 text-center">
                <p class="m-0 text-dark text-center ">Copyright &copy; Pioneer</p>
            </footer>
    </body>
</html>