{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
{% endblock %}
{% block body %}
<div style="background-color:#f39c12;">  

<br><br>
            <header class="masthead ">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class=" col-md-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h3 class="text-center site-heading my-4 mt-3 font-weight-bold "> Add Blog Here<hr> </h3>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header><br>
            <div class="container ">
                <div class="row ">
                    
                            <!-- Blog Entries Column -->
                            
                            <div class="col-md-8 col-md-10 mx-auto  ">
                                <div class="card w-100 young-passion-gradient">
                                    <div class="card-body ">
                                        <form method='post' >
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            
                                            <input type="submit" class="btn aqua-gradient w-50" value="submit">
                                        </form>
                                    </div>
                                </div>
                                {% comment %} {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}   {% endcomment %}
                            </div>
                            
                </div>
            </div><br><br><br>
</div>
{% endblock %}