{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
{% endblock %}
{% block body %}
<div style="background-color:cyan">  

    <br><br><br>

            <header class="masthead ">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class=" col-md-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h3 class=" site-heading my-4 mt-3 text-info"> Welcome to Pioneer Blog </h3>
                                <p class="text-success">We Love Django As much as you do..! &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container-fluid">
                <div class="row">
                    
                            <!-- Blog Entries Column -->
                            
                            <div class="col-md-8 col-md-10 mx-auto ">
                                <div class="card w-100">
                                    <div class="card-body ">
                                        <form method='post'>
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            
                                            <input type="submit" class="btn btn-primary w-25" value="submit">
                                        </form>
                                    </div>
                                </div>
                                {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}  
                            </div>
                            
                </div>
            </div>
</div>
{% endblock %}