{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>REGISTER</title>
<style>
  body {
    width: 100%;
  }

  .col1 {
    width: 50%;
  }

  @media only screen and (max-width: 768px) {
    .col1 {
      width: 100%;
    }
</style>

{% endblock %}



{% block body %}

<br><br><br>
<div class="container col1">
  <div class="jumbotron">
    {% if registered %}
    <h1>Thank you for registering!<br>Click here for <a href="/accounts/login/">Login</a></h1>
    {% else %}
    <h1 class='text-dark text-center'>Register Here</h1>
    <h3 class='text-dark text-center'>Just fill out the form.</h3>
    <hr>
    <h5>
      <form enctype="multipart/form-data" method="POST" class='text-dark '>
        {% csrf_token %}
        {{  user_form|crispy  }}
        {{ profile_form|crispy }}
        <br>
        <input class="btn btn-info btn-block" type="submit" value="Register">
      </form>
    </h5>
    {% endif %}
  </div>
</div>
<br><br><br>


{% endblock %}