{% extends 'base.html' %} {% block body %}
{% load crispy_forms_tags %}
{% load static %}
<style>
  .text{
    color:cyan;
  }
</style>
<br><br>
<div class="container w-90">

  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <h1 class="text-center purple-gradient">Blog Detail</h1><hr>

      <div class="card-body">
        <h1>{{ post.title }}</h1><hr>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      <h6 class="peach-gradient ">.</h6>
      </div>
    </div>
        {% comment %} {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %} {% endcomment %}

  </div>
    
    {% if post.comment_set.all %}
      <h1 class="text-dark  ">  Comments! <hr></h1>
    
      <div class="row">
        <div class="col-md-8 card mb-4 mt-3 left">
          <div class="card-body">
          {% for comment in post.comment_set.all %}
            <h6 class="aqua-gradient">.</h6>
            <h3 >{{comment.name}}<small class=" text-muted "> &nbsp;reply</small></h3>
            <p class=" text-muted">{{ comment.created_on }}</p>
            <p class="card-text ">{{ comment.content | safe }}</p>
            {% comment %} <h6 class="bg-success">.</h6> {% endcomment %}

          {% endfor %}
          </div>
        </div>
      </div>
    
    {% endif %}
    


<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Write comment to us</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form method="post" autocomplete="on">
          {% csrf_token %}
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" name="name" maxlength="50" class=" form-control validate" id="form34" required id="id_name" onclick="myFunction(document.getElementById('your-name'))">
              <label id="your-name" data-error="wrong" data-success="right" for="form34" >Your name</label>
            </div>

            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="email" name="email" maxlength="75" class="form-control validate" id="form29" required id="id_email" onclick="myFunction(document.getElementById('your-email'))">
              <label id="your-email" data-error="wrong" data-success="right" for="form29">Your email</label>
            </div>


            <div class="md-form">
              <i class="fa fa-tag prefix grey-text"></i>
               <textarea name="content" cols="40" rows="10" class="md-textarea form-control" required id="id_content" onclick="myFunction(document.getElementById('your-content'))"></textarea>
              <label id="your-content" data-error="wrong" data-success="right" for="form8">Your message</label>
            </div>

          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" name="button" class="btn btn-unique">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
          </div>
      </form>

    </div>
  </div>
</div>

<div>
  <a href="" class="btn btn-default w-50 btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm"><b>Write Comment<b></a>
</div>
<script>
function myFunction(element) {
  //element is label here 
  element.classList.add("active");
}
</script>


{% endblock  %}