{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title>PASSWORD CHANGE PAGE</title>
<style>
        .form-control {
            width: 100%;
        }
        .pad{
            padding-left:30%;
        }
          .col1 {width:50%;}
    
    @media only screen and (max-width: 768px) {
        .col1{
            width: 95%;
        }
        .pad{
            padding-left:0.2%;
        }
  }
</style>
{% endblock %}

{% block body %}
<br><br><br>
<div class="container col1">
  <div class="card text-default">
      <div class="card-body">
          <h1 class="text-center text-danger"> Change Password<hr></h1>
          <form method="post" >
              {% csrf_token %}
              {{form.as_p}}
              &emsp;&emsp;&emsp;
              <button type="submit" class="btn btn-primary w-75">Submit</button>
          </form>
          <br>
      </div>
  </div><br><br><br>
</div>
{% endblock %}