{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title>PASSWORD CHANGE PAGE</title>
{% endblock %}

{% block body %}
<br><br><br>
<div class="container">
  <div class="card text-info">
      <div class="card-body">
          <h1 class="text-center text-dark"> Change Password<hr></h1>
          <form method="post" >
              {% csrf_token %}
              {{form.as_p}}
              &emsp;&emsp;&emsp;
              <button type="submit" class="btn btn-primary w-75">Submit</button>
          </form>
          <br>
      </div>
  </div>
</div>
{% endblock %}