{% extends 'base.html' %}

{% block head %}
    <title>EDIT PROFILE PAGE</title>
    <style>
        .form-control {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Edit Profile</h1><br>
            <div class="container" style="width:60%;">
                <form method="post">
                    {% csrf_token %}
                    
                    First name: {{ form.first_name }}
                    Last name: {{ form.last_name }}
                    Email: {{ form.email }}
                    {% comment %} Password: {{ form.password }} {% endcomment %}
                    <br>
                    Phone: {{ form1.phone }}
                    City: {{ form1.city }}
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>

                </form>
                <br>
                <a  href='/accounts/change-password'>
                    <button type="button" class="btn btn-danger btn-block">Change password</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
