{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title>HOME</title>
<style>
    
    .parallax {
        background-image: url("../../static/courses/images/13.jpg");
        min-height: 550px; 
        width:100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
}
    
     @media only screen and (max-width: 450px) {
       .parallax {
            background-image: url("../../static/courses/images/13.jpg");
            min-height: 350px; 
            width:100%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
  }
        .parallax1 {
        background-image: url("../../static/courses/images/14.jpg");
        min-height: 550px; 
        width:100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 95%;
}
    
     @media only screen and (max-width: 450px) {
       .parallax1 {
            background-image: url("../../static/courses/images/14.jpg");
            min-height: 10px; 
            width:100%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
  }
</style>
{% endblock %}
{% block body %}
<div style="background-color:#f5f5f5" >
    <div class="parallax">
    </div>
    <br><br><br>
    <div class="container">
        <div class="text-center">
            {% if user.is_authenticated %}
            <h1 class="h1_1">Welcome to the Pioneer! Hello <span class="text-primary">{{ user.username }}<span></h1>
            <hr>
            <hr>
            {% else %}
            <h1>Let's Study Together! </h1>
            <hr>
            <hr>
            {% endif %}
        </div>
    </div>
    <br><br><br><br> 
    <section class="cool-facts-area ">
        <div class="container ">
            <div class="row mx-auto">
                <div class="col-lg-4 col-sm-4   col-md-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp bg-grey">
                        <div class="icon">
                            <img src="../../static/accounts/images/docs.png" alt="">
                        </div>
                        <b >
                            <h2 class="timer counter count-title count-number" data-to="1000" data-speed="4000"></h2>
                        </b>
                        <h5>Success Stories</h5>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-4 col-md-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp bg-grey">
                        <div class="icon">
                            <img src="../../static/accounts/images/earth.png" alt="">
                        </div>
                        <b >
                            <h2 class="timer counter count-title count-number" data-to="9000"  data-speed="4000"></h2>
                        </b>
                        <h5>Students</h5>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-4 col-md-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp bg-grey">
                        <div class="icon">
                            <img src="../../static/accounts/images/events.png" alt="">
                        </div>
                        <b >
                            <h2 class="timer counter count-title count-number" data-to="10" data-speed="4000"></h2>
                        </b>
                        <h5>Years</h5>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <br><br><br><br>
    <!---==================================Courses===============================================-->
    <div class="container">
        <h1 class="text-center h1_1">Popular Courses</h1>
        <hr>
        <hr>
        <br><br><br><br>
        <div class="card-deck" style="width:98%; padding-left:4%;">
        <div class="card" >
                <img class="card-img-top" src="../../static/courses/images/4.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">From Basic Level to Advance Level</h4>
                    <p class="card-text">
                    <blockquote>To learn English at an advanced level,
                        you must be clear at your basic level.
                    </blockquote>
                    </p>
                    <a href="courses/b-to-adv/" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="../../static/courses/images/11.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Art of Speaking</h4>
                    <p class="card-text">
                    <blockquote>Mastering the art of speaking is the key
                        to confidently delivering a potent message to an audience.
                    </blockquote>
                    </p>
                    <a href="courses/speaking" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="card" >
                <img class="card-img-top" src="../../static/courses/images/4.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Vocabulary</h4>
                    <p class="card-text">Vocabulary is a matter of word-building as well as word-using</p>
                    <a href="courses/vocabulary" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <br><br><br><br><br>
    <!--========================================Instructor====================================================-->
    <div class="container">
    <div class="parallax1">
    </div>
    </div>
    <center>
        <h1 class="text-center h1_1 container ">
            Instructor
            <hr>
            <hr>
        </h1>
        <br>
    <div class="container" >
        <div class="row ">&emsp;&emsp;&emsp;&emsp;
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="card-wrapper">
                    <div id="card-1" class="card card-rotating text-center">
                        <div class="face front"><br>
                            <div class="avatar mx-auto white"><img src="../../static/accounts/images/q1.jpeg" style="height:250px; width:200px" class="rounded-circle"
                                alt="Sample avatar image.">
                            </div>
                            <div class="card-body">
                                <h4 class="font-weight-bold mb-4">Brijesh Singh</h4>
                                <p class="font-weight-bold blue-text">Learner & Trainer</p>
                            </div>
                        </div>
                        <div class="face back">
                            <div class="card-body">
                                <hr>
                                <p>
                                    <big class="a">Advocate</big><br>M.A, B.Ed, LL.B, P.G.D.M.M
                                <hr>
                                <ul class="list-inline py-2">
                                    <li class="list-inline-item"><a class="p-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>&emsp;&emsp;&emsp;
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="card-wrapper">
                    <div id="card-1" class="card card-rotating text-center">
                        <div class="face front"><br>
                            <div class="avatar mx-auto white"><img style="height:250px; width:200px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle"
                                alt="Sample avatar image.">
                            </div>
                            <div class="card-body">
                                <h4 class="font-weight-bold mb-4">Marie Johnson</h4>
                                <p class="font-weight-bold blue-text">Trainer</p>
                            </div>
                        </div>
                        <div class="face back">
                            <div class="card-body">
                                <hr>
                                <p>
                                    M.A, B.Ed, LL.B, P.G.D.M.M<br><br>
                                </p>
                                <hr>
                                <!-- Social Icons -->
                                <ul class="list-inline py-2">
                                    <li class="list-inline-item"><a class="p-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li class="list-inline-item"><a class="p-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
    <br><br><br><br><br><br>
    <!--================================Contact Us======================================-->
    <div style="background-color:#f0f0f0">
        <br><br>
        <h2 id="contact_us" class="h1_1 text-center">Contact Us</h2>
        <hr>
        <br><br><br>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <br>
                    <div class="contact_us">Our Address:</div>
                    <div class="a1">
                        <img src="../../static/accounts/images/loca.png" style="height:25px;weight:35px;">
                        Pioneer House, Saket Nagar, Deoria,<br>&emsp;&emsp;Deoria District, Uttar Pradesh - 274001.
                    </div>
                    <div class="a1">
                        <img src="../../static/accounts/images/loca.png" style="height:25px;weight:35px;">
                        Pioneer, Raghav Nagar, Deoria,<br>&emsp;&emsp;Deoria District, Uttar Pradesh - 274001.
                    </div>
                    <br>
                    <div class="contact_us">You can also reach us at:</div>
                    <div class="a1">
                        <img src="../../static/accounts/images/call.png" style="height:25px;weight:35px;">
                        Tel:7676897890<br>&emsp;
                        Mobile:+91-8097561256<br><br>
                    </div>
                    <div class="contact_us">Mail us at:</div>
                    <div class="a1">
                        <img src="../../static/accounts/images/34.png" style="height:25px;weight:35px;">
                        <big>pioneer.deo@gmail.com</big>
                    </div>
                </div>
                &emsp;&emsp;&emsp;
                <div class="col-sm-7">
                    <div class="mapouter">
                        <div class="gmap_canvas"><br><br>
                            <iframe width="800" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=Pioneer%20house%20saket%20nagar%20Deoria&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="-1" scrolling="yes" marginheight="0" marginwidth="0">
                            </iframe>
                            <a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}