{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Login Page</title>
   
{% endblock %}


{% block body %}

<script type="text/javascript">
    $(function(){

        $("#id_username").addClass("form-control");
        $("#id_password").addClass("form-control");
});
  </script> 

 
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../../static/accounts/images/circle_logo.png"  class=" spin brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					
          
          <form method="post" autocomplete="on">
            {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
                {{ form.username }}
							{% comment %} <input type="text" name="" class="form-control input_user" value="" placeholder="username"> {% endcomment %}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
              {{ form.password }}
							{% comment %} <input type="password" name="" class="form-control input_pass" value="" placeholder="password"> {% endcomment %}
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
            <div class="d-flex justify-content-center mt-3 login_container">
					    <button type="submit" name="button" class="btn login_btn">Login</button>
				    </div>
					</form>


				</div>
				
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="/accounts/register/" class="ml-2">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="/accounts/password-reset">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>



  {% comment %} <div class="card" style="margin-left: 55px;border-radius: 15px;width: 500px;height: 520px;">

    <h5 class="card-header info-color white-text text-center py-4">
      <strong class="display-4" style="font-size:40px;">Log in</strong>
    </h5>
    <!--Card content-->
    <div class="card-body px-lg-5 pt-0" id="grad" style="border-radius: 11px;">
    <br><br>
      <!-- Form -->
      <form class="text-center" method="post" autocomplete="on">

        {% csrf_token %}
        <!-- Email -->
        <div class="md-form" style="font-size: 20px;">
          <label for="materialLoginFormEmail">username</label>
          {{form.username}}
        </div>
          <br>
        <!-- Password -->
        <div class="md-form" style="font-size: 20px;">
          <label for="materialLoginFormPassword">Password</label>
          {{form.password}}

        </div>

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
              <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
            </div>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="/accounts/password-reset">Forgot password?</a>
          </div>
        </div>
        <br>
        <!-- Sign in button -->
        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

        <!-- Register -->
        <p>Not a member?
          <a href="/accounts/register/">Register</a>
        </p>

      </form>
      <!-- Form -->

    </div>

  </div> {% endcomment %}
    {% endblock %}