{% extends 'base.html' %}
  {% block head %}
  <title>Login Page</title>
  {% endblock %}

{% block body1 %}
    <div class="alert alert-info">
        Your password has been set.
    </div>
    {% comment %} <a href="{% url 'accounts/login' %}">Sign In Here</a> {% endcomment %}
{% endblock %}
  
{% block body %}
    <br><br><br><br>
      <div class="text-center container ">
  <div class="card">
      <div class="card-body">
    <p class="display-4">Password Reset Complete</p>
    <p>
        Your Password has been changed.
    </p>
    <a href='/accounts/login'>Login </a>
  </div>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
{% endblock  %} 