{% extends 'base.html' %}
{% load crispy_forms_tags %}

  {% block head %}
  <title>Login Page</title>
  <style>
  body{
        background-color:orange;
      }
       .col1 {width:50%;}
    
    @media only screen and (max-width: 768px) {
        .col1{
            width: 95%;
        }
        
  </style>
  {% endblock %}

{% block body %}
<br><br><br><br>
<div class="container col1">
  <div class="card ">
    <div class="card-body">
    <h1 class="text-center">Enter new Password </h1>
    <hr>
    <form method="post"  class="text-dark " style="padding-left:15%;">
      {% csrf_token %}
      {{form|crispy}}
      <br>
      <button class="btn btn-info w-50" type="submit">Reset Password</button>
    </form>
    </div>
  </div>
</div><br><br>
{% endblock %}
