{% extends 'base.html' %}
  {% block head %}
  <title> Page</title>
  <style>
      body{
        background-color:orange;
      }
  </style>
  {% endblock %}

{% block body %}

    <br><br><br><br><br>
  <div class="container info  w-40">
    <div class="alert alert-info  ">
      <br><br><br><br><br>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
      If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
      <br><br><br>
    </div><br><br><br>
  </div>
{% endblock body %}

  {% comment %} {% block body %}
      <div class="text-center">
  <div class="card">
  <div class="card-body">
    <p class="display-4">Password Reset Sent</p>
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
      If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
  </div>
  </div>
      </div>
  {% endblock %} {% endcomment %}
