{% extends 'base.html' %}
{% load crispy_forms_tags %}

  {% block head %}
  <title>Login Page</title>
  {% endblock %}
{% comment %} 
{% block body %}
    <br><br><br><br>
    <div class="container w-90 bg-light">
        <legend class="b text-center">Reset Password</legend>
        <form method="POST" ">
            {% csrf_token %}
            <fieldset class="form-group" >
                &emsp;{{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info " type="submit">Reset Password</button>
            </div>
        </form>
        <br><br>
    </div>
{% endblock body %} {% endcomment %}

{% block body %}
<br><br><br><br>
<div class="container">
  <div class="card container">
    <div class="card-body container">
    <h1 class="text-center b">Enter new Password </h1>
    <p class="text-center text-danger"> Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one. </p>
    <hr>
    <form method="post"  class="text-dark " style="padding-left:15%;">
      {% csrf_token %}
      {{form|crispy}}
      <br>
      <button class="btn btn-info w-50" type="submit">Reset Password</button>
    </form>
    </div>
  </div>
</div><br><br>
{% endblock %}
