{% extends 'base.html' %}
  {% block head %}
  <title>Login Page</title>
  <style>
  
       .col1 {width:50%;}
    
    @media only screen and (max-width: 768px) {
        .col1{
            width: 95%;
        }
        
  </style>

  {% endblock %}

 
{% block body %}
    <br><br><br><br><br><br>
      <div class="text-center container col1 ">
  <div class="card">
      <div class="card-body">
    <h1>Password Reset Complete<hr></h1>
    <p>
        Your Password has been changed.
    </p>
    <a href='/accounts/login'>Login </a>
  </div>
  </div><br><br><br><br><br><br><br><br><br><br><br>
      </div>
{% endblock  %} 