{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
  <title>REGISTER</title>
  <style>
    body{
      width:100%;
    }
    .col1 {width:50%;}
    @media only screen and (max-width: 768px) {
        .col1{
        width: 100%;
  }
    </style>
  
{% endblock %}

  

{% block body %}

 <br><br><br> 
  <div class="container col1" >
    <div class="jumbotron" style="background-color:#f39c12" >
      {% if registered %}
        <h1>Thank you for registering!<br>Click here for <a href="/accounts/login/"</h1>
      {% else %}
        <h1 class='text-danger text-center' >Register Here</h1>
        <h3 class='text-danger text-center'>Just fill out the form.</h3><hr>
        <h5>
        <form enctype="multipart/form-data" method="POST" class='text-muted ' >
          {% csrf_token %}
          {{  user_form|crispy  }}
          {{ profile_form|crispy }}
          <br>
          <input class="btn btn-info btn-block" type="submit"  value="Register">
        </form>
        </h5>  
      {% endif %}
    </div>
  </div>
  <br><br><br>
 

{% endblock %}
