{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
  <title>REGISTER</title>
  
{% endblock %}

  

{% block body %}
  <br><br><br>
  <div class="container" >
    <div class="jumbotron" >
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
      <form enctype="multipart/form-data" method="POST" >
          {% csrf_token %}
          {{  user_form|crispy  }}
          {{ profile_form|crispy }}
          <br>
          <input class="btn btn-outline-info" type="submit" name="" value="Register">
        </form>
        
      {% endif %}
    </div>
  </div>
  

{% endblock %}
