{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        img.two { height: 450px; width: 100%;}
        .san { font-family:cursive; }

    </style>

{% endblock %}

{% block body %}

<div style="background-color:cyan">
    
    <img class="two"  src="../../static/courses/images/13.jpg"  alt="Card image" height:"50" >
    <br><br><br><br>
    <h1 class="text-center  san" >Art Of Speaking</h1>
        <br><br>
        <ul class="container list-group">
            <li class="list-group-item">A. British N American Term -Eng</li>
            <li class="list-group-item">B. Starters N Fillers</li>
            <li class="list-group-item">C. Common Phrases/Sentence</li>
            <li class="list-group-item">D. Contraction</li>
            <li class="list-group-item">E. Mute Letters</li>
            <li class="list-group-item">F. Do not's</li>
            <li class="list-group-item">G. Interrogatives</li>
            <li class="list-group-item">H. Fee Structures(50)</li>
            <li class="list-group-item">I. Multi-Sensed Verbs</li>
            <li class="list-group-item">J. Vivid Sentences</li>
            <li class="list-group-item">K. Time and Weather</li>
            <li class="list-group-item">L. Law and Order</li>
            <li class="list-group-item">M. Intro-/How to Address Mob</li>
            <li class="list-group-item">N. Set Speech</li>
            <li class="list-group-item">O. Extempore</li>
            <li class="list-group-item">P. Short Stories</li>
            <li class="list-group-item">Q News Papers</li>
            <li class="list-group-item">R. Small Dialogues(A/V Class)</li>
            <li class="list-group-item">S. Role Plays/ Seminar</li>
            <li class="list-group-item">T. Group Discussion/ Debate</li>
            <li class="list-group-item">U. Personality Development</li>
            <li class="list-group-item">V. Interview Preparation</li>
            <li class="list-group-item">W. Face to Face talk with foreigners</li>
            <li class="list-group-item">X. Tour to A Historical Place</li>
            <li class="list-group-item">Y. Miscellaneous</li>
            <li class="list-group-item">Z. Farewell ceremony/ Certificaton</li>
            
        </ul><br>

</div>
{% endblock %}