{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <style>
        img.two { height: 450px; width: 100%;}
        .san { font-family:cursive; }

    </style>

{% endblock %}

{% block body %}

<div style="background-color:cyan">
    
    <img class="two"  src="../../static/courses/images/13.jpg"  alt="Card image" height:"50" >
    <br><br><br><br>
    <h1 class="text-center  san" >From Basic Level To Advance Level</h1>
        <br><br>
        <div class="container ">
        <ul class=" list-group">
            <li class="list-group-item">A. What's English...?</li>
            <li class="list-group-item">B. Alphabets - (Vowel/Consonants)</li>
            <li class="list-group-item">C. Sentence</li>
            <li class="list-group-item">D. Parts of Speech</li>
            <li class="list-group-item">E. PNG</li>
            <li class="list-group-item">F. Article</li>
            <li class="list-group-item">G. Verb Be</li>
            <li class="list-group-item">H. Compulsive Verb</li>
            <li class="list-group-item">I. Perceptive Verb</li>
            <li class="list-group-item">J. Imperative Sentence</li>
            <li class="list-group-item">K. It/ This/ These/ Those</li>
            <li class="list-group-item">L. Here/There</li>
            <li class="list-group-item">M. Punctuation</li>
            <li class="list-group-item">N. Rules of Let</li>
            <li class="list-group-item">O. Use of About to</li>
            <li class="list-group-item">P. Use of Begin to</li>
            <li class="list-group-item">Q. Modals Verbs</li>
            <li class="list-group-item">R. Non-finites</li>
            <li class="list-group-item">S. Times N Tense</li>
            <li class="list-group-item">T. Conditional Sentence</li>
            <li class="list-group-item">U. Compound Sentence</li>
            <li class="list-group-item">V. Complex Sentence</li>
            <li class="list-group-item">W. Voice</li>
            <li class="list-group-item">X. Narration</li>
            <li class="list-group-item">Y. Synthesis</li>
            <li class="list-group-item">Z. Transformation</li>
            <li class="list-group-item">   Miscellaneous</li>
            
        </ul><br>
    </div>

</div>
{% endblock %}