{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <style>
        img.two { height: 450px; width: 100%;}
        .san { font-family:cursive; }

    </style>

{% endblock %}

{% block body %}

<div style="background-color:cyan">
    
    <img class="two"  src="../../static/courses/images/13.jpg"  alt="Card image" height:"50" >
    <br><br><br><br>

    <a href="https://www.youtube.com/watch?v=iKE9mjIVeik&list=PL6zKLAqTq5peLon71V2ZDTLuhKNlW4PYl">
        <h1 class="text-center san" >From Basic Level to Advance Level</h1></a><hr>
    <a href="https://www.youtube.com/watch?v=0AM35Nu5McY&list=PLPuC5CMHiqms6XekSiZZ45j1k4tjfoxFf">
        <h1 class="text-center san" >Art Of Speaking</h1></a><hr>
    <a href="https://www.youtube.com/watch?v=Rp-7AysT3jA">
        <h1 class="text-center san" >Vocabulary</h1></a><hr>
    <a href="https://www.youtube.com/watch?v=6xFaXIwwq0s&list=PLzJaFd3A7DZtnTdtOxvjO3GLPd1WVe6oq">
        <h1 class="text-center san" >Competitive Segment</h1></a><hr>
    <a href="https://www.youtube.com/watch?v=1eOFVUye-jk&t=53s">
        <h1 class="text-center san" >Expository writing</h1></a><hr>
    



        <br><br>
        
</div>
{% endblock %}