{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <style>
        img.two { height: 450px; width: 100%;}
        .san { height: 60%; width: 100%; }

    </style>

{% endblock %}

{% block body %}

<div style="background-color:cyan">
    
    <img class="two"  src="../../static/courses/images/13.jpg"  alt="Card image" height:"50" >
    <br><br><br><br>
    <h1 class="text-center" >Expository Writing</h1><hr>
        <br><br>
        
        <div class="container">
            <h4>Expository Writing:</h4><br>
            <p>
                Expository writing is writing that has a purpose of explaining, informing, or describing. In other words, expository writing is about providing information to the reader about a particular topic or subject. The purpose of expository writing differs from creative writing or persuasive writing. The purpose is merely to inform to provide information.
                <br><br>

            <div class="embed-responsive embed-responsive-21by9 san">
                <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/c5IPrxafggQ" allowfullscreen></iframe>
            </div>
            <br><br>   
            <h4>Examples of Expository Writing:</h4><br>
                This morning at 9am, a school bus collided with a car at the intersection of Jones and Heard streets. There were
                no injuries on the school bus, but medical personnel performed checks on each student and the driver before those 
                students were transported to their schools. The driver of the car sustained slight, non-life-threatening injuries. 
                He was transported to the local hospital. The accident is still under investigation at this time. Advances in science
                and technology have made the use of "green" energy possible. In places where climate conditions
                permit, people are able to use solar energy or wind energy for power. Solar energy is the use of sunlight for energy
                and power. Humans are able to harness the energy of the sun by installing solar panels on their homes or businesses.
                Humans have also found ways to harness the power of the wind by using wind turbines to capture wind energy. Both of 
                these forms of "green" energy are being used more and more.
                The school science fair was a success again this year! We had 15 teams participating, and they all had amazing projects.
                Each team consisted of two students who designed a science experiment to test a hypothesis, created a display of their 
                experiment and results, and presented their display to the judges. The winners this year are Sarah Jones and Mark Gordon,
                who hypothesized that students get into less trouble in the classroom on days when it is sunny outside. The judges were very
                impressed with their data collection methods, which included asking teachers to share information on how many students earned
                stars at the end of each day. They correlated this information with their own data about the weather-sunny, cloudy, or rainy.
                </p>
            
        </div>
        <br><br><br><br><br>
</div>
{% endblock %}